
<h1>Hello world!!</h1>

<h2>Status: @ViewBag.Status</h2>
<h3>Name: @ViewBag.StudentName WordsCount: @ViewBag.StudentName.Length</h3>
@* <h2>Test: @ViewBag.hgvbsadvbiu.Length</h2>
 *@
<h2>@ViewBag.tittle</h2>
<h2>@ViewData["Status"]</h2>